*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color:black;

}
#page2{
    height: 100vh;
    width: 100vw;
    background-color:black;

}
#page3{
    height: 100vh;
    width: 100vw;
    background-color:black;

}
#page4{
  
    height: 100vh;
    width: 100vw;
    background-color:black;

}
#page5{
    height: 200vh;
    width: 100vw;
    background-color:black ;

}
#page6{
    height: 100vh;
    width: 100vw;
    background-color: black ;

}

canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    z-index: 9;
}

#loop{
    position: absolute;
    top: 7%;
    font-size: 65px;
    width: 100%;
    white-space: nowrap;
    color:#e0e0e0;
    background-color:black;
   
}

#loop>h1{
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#loop>h1>span{
    -webkit-text-stroke: 1px #000;
    color: #e0e0e0;
}

@keyframes anim {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    }
}

/* ---------------------------------navbar--------------------------- */
#nav{
    height: 2%;
    width: 100%;
    /* background-color:black; */
    position: fixed;
    padding: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{
    padding: 10px;
    margin-top: 12px;
}

.logo img{

    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.other{
    display: flex ;
    color: #e0e0e0;
    justify-content: space-between;
    text-align: center;
}

.other>div{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.other>div:hover{
    color: #000;
    transition: .5s ease-in;
    cursor: pointer;
}
/* --------------------------------------page1------------------------ */

#page1>h3{
    position: absolute;
    top: 12%;
    padding: 10px 50px 0px 40px;
    font-size: 15px;
    z-index: 99;
    color: #e0e0e0;

}

#page1>h3:hover{
    color: #000;
    transition: .5s ease-in;

}

#page1>h4{
    position: absolute;
    top: 22%;
    left: 83%;
    color: #e0e0e0;
}

/* ---------------------------PAGE2--------------------------- */

#page2>.about-left{
    position: absolute;
    top: 2%;
    left: 5%;
}
#page2>.about-right{
    position: absolute;
    top: 20%;
    left: 70%;
}

.about-left h1{
    position: absolute;
    font-size: 70px;
    color: #e0e0e0;
    -webkit-text-stroke: .6px #000;
    
}

.about-right h3{ 
    color: #e0e0e0;

}


/* -----------------------------page3--------------------------- */
.project-heading>h1{
    top: 10%;
    left: 66%;
    position: absolute;
    font-size: 70px;
    color: #e0e0e0;
    -webkit-text-stroke: .6px #000;
    
}



.project-image img{
    max-width: 100%;
    max-height: 100%;

}

.project-container{
    width: 900px;
    display: flex;
    overflow-x: scroll;
    align-items: center;
  
    margin: auto;
}

.project-container::-webkit-scrollbar{
    display: none;
}

#nextBtn{
    width: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

#backBtn{
    width: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

.project-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-items{
    /* position: relative;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 10px;
    flex: none;
    margin: 10% auto; */

    height: 100vh;
    min-height: 30em;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;

}

.project {
   /* top: 50%;
    position: absolute; */
    /* filter: grayscale(100%);
    transition: transform 0.5s;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    z-index: 1; */

    width: 50vw;
  min-width: 25em;
  max-width: 35em;
  height: 80vh;
  object-fit: cover;
  padding: 0 2em;
  


}

.project :hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

/* .project-1 { left: 0; }
.project-2 { left: 340px; } 
.project-3 { left: 680px; }
.project-4 { left: 1020px; } */



/* -----------------------PAGE4----------------------- */



#page4{
    position: relative;
}

#page4>h1{
    position: absolute;
    font-size: 70px;
    color: #e0e0e0;
    -webkit-text-stroke: .6px #000;
    top: 15%;
    left: 6%;

}
.scroll-div {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 100px;
  white-space: nowrap;
  overflow: hidden; 

}

.scroll-div h2{
    display: inline-block;
    font-size: 65px;
    white-space: nowrap;
    /* transform: rotate(-10deg); */
    background-color: #e0e0e0;
    animation-name: scroll2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color:black ;
}
.scroll-div2 {
  position: absolute;
  top: 65%;
  width: 200%;
  height: 100px;
  white-space: nowrap;
  background-color: #e0e0e0;
  transform: rotate(2deg);
  animation: scroll 3s linear infinite ;
  justify-content: center;
  align-items: center;
}

.scroll-div2::-webkit-scrollbar{
    display: none;
}

.scroll-div2 .skill-image{
    display: inline-block;
    margin-right: 50px;
    border-radius: 50%;
}

.skill-image img{
    padding: 5px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.scroll-div3 {
  position: absolute;
  top: 85%;
  width: 100%;
 height: 100%;
  white-space: nowrap;
  letter-spacing: 3px;
}

.scroll-div3::-webkit-scrollbar{
    display: none;
}

.scroll-div3 h2{
    display: inline-block;
    font-size: 60px;
    margin-right: 50px;
    transform: rotate(-10deg);
    background-color: #e0e0e0; 
    color:black ;
    animation-name: scroll;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}

@keyframes scroll {
    0%{

        transform: translateX(0);
    }
    100%{
          transform: translateX(calc(-100));
    }
}
@keyframes scroll2 {
    0%{

        transform: translateX(0);
    }
    100%{
          transform: translateX(-50%);
    }
}

/* -----------------------PAGE5--------------------------------- */
#page5{
    position: relative;
}
#page5>h1{
    position: absolute;
    font-size: 65px;
    color: #e0e0e0;
    -webkit-text-stroke: .6px #000;
    top: 5%;
    right: 4%;

}
.oasis-container{
    position: absolute;
    width: 450px;
    height: 200px;
    background-color: #e0e0e0;
    border-radius: 10px;
    top: 25%;
    border: 1px solid rgb(161, 140, 140);
    left: 3%;
    list-style: none;
    color: rgb(161, 140, 140);
    /* padding: 10px; */
}
.oasis-container li{
    list-style: none;
    margin-bottom: 10px;
}
.uwsi-container{
    position: absolute;
    width: 450px;
    height: 220px;
    background-color: #e0e0e0;
    border-radius: 10px;
    top: 50%;
    border: 1px solid rgb(161, 140, 140);
    left: 3%;
    list-style: none;
    color: rgb(161, 140, 140);
   /* padding: 10px; */

}
.uwsi-container li{
    list-style: none;
    margin-bottom: 10px;
}



.content{
    padding: 20px 10px;
}

/* #page5 .right-side{
    position: absolute;
    right: -99%;
    
} */


.exp-image img{
    position: absolute;
    top: 10%;
    right: 10%;
    height: 200px;
    width: 200px;
}
.exp-image2 img{
    position: absolute;
    top: 50%;
    right: 10%;
    height: 200px;
    width: 200px;
}
.exp-image3 img{
    position: absolute;
    top: 70%;
    right: 10%;
    height: 200px;
    width: 200px;
}
.exp-image4 img{
    position: absolute;
    top: 30%;
    right: 10%;
    height: 200px;
    width: 200px;
}



.overlay{
    font-size: 160px;
    position: absolute;
    top: 20%;
    right: 14%;
}


/* -----------------------PAGE6----------------------- */

#page6{
    position: relative;
}

#page6>h1{
    position: absolute;
    font-size: 70px;
    color: #e0e0e0;
    -webkit-text-stroke: .6px #000;
    top: 15%;
    left: 6%;

}

.social-icons{
    display: flex;
}

.social-image{
    position: relative;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-top: 250px;
}
.social-image img{
    position: absolute;
    height: 250px;
    padding: 20px;
    width: 250px;
    z-index: 9999999999999999999999999999999;
}







